*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Open Sans" ,sans-serif; 
    font-weight: inherit;
}

.container {
    display: grid;
    grid-template-rows: 10vh 80vh 50vh 60vh 60vh 40vh 80vh 100vh  15vh;
}

header{
    display: grid;
    grid-template-columns: 200px 50px ;
    background-color: #0FACF1;
    color: #FFF;
    font-family: "Open Sans" ,sans-serif;
    font-size: 24px;
    grid-row: 1/2;

}

.nav{
    position: absolute;
    margin-left: -280px;
    grid-row: 2;
    background:#555;
}

.navClose {
    text-align: right;
    font-size: 1.5em;


}

.nav .navClose .navCloseButton {
    border: none;
    background: none;
    margin-right: 10px;
    margin-top: 10px;
}

.nav .navClose .navCloseButton .navCloseSpan{
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    transition: 0.2s;

}
.nav .navClose .navCloseButton .navCloseSpan:hover{
    color: #0FACF1;

}

.nav .navUl .navList .navListButton {
    border: none;
    background: #555;
    color: #FFF;
    font-size: 1.2em;
    padding: 0.7em;
    z-index: 10;
    width: 200px;
    transition: 0.2s;
    
}

.nav .navUl .navList .navListButton:hover{

    background:#0FACF1;
}
main{
    grid-row: 2;
}



.col-2{
    display: grid;
    grid-template-columns: 3fr 4fr ;
}

.logo{
    font-size: 20px;
    grid-column: 2/4; 
    margin-top: 20px;
}

.menu {
    grid-column: 4;
    border: none;
    background: none;

}

#image-main  { 
    width: 100%;
}

.container-a {

    padding: 10px;
    font-family: "Roboto", sans-serif;
    grid-column-start: 1/2; 
}

.container-b{
    grid-column-start: 2;
}

.container-a h1 { 
    font-family: "Source sans pro", sans-serif;
    margin:60px 5px 20px 100px ;
    color: #0FACF1;
    font-size: 60px;  
}

.container-a button {
    margin: 20px 5px 15px 100px ;
    color: #FFF ;
    background-color:#0FACF1 ;
    font-size: 18px;
    border: none;
    width: 300px;
    height: 50px;
    font-family: "Source sans pro", sans-serif;
}

.container-a p {
    
    margin: 20px 5px 20px 100px ;
    font-size: 22px;
    font-weight: bold;
}

.container-0 {
    margin-top: -100px;
    background-color: #0FACF1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    position: relative;
    z-index: 1;
    margin-left: 10%;
    color: #FFF;
    font-family: "Open Sans", sans-serif;

}

.container-1{
    width: 25%;
    height: 300px;
}

.container-2{
    width: 25%;
    height: 300px;
    background-color: #098fc9;
}

.container-0 img {
    
        margin:20px 100px;  
        background: #FFF;
        padding: 10px;
        border-radius: 2.5em;
}

.container-0 h3 {
    display: flex;
    justify-content: center;
    color: #FFF;
}

.container-0 p {

    margin: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6 ;


}

.welcome {
    margin:80px 350px;
    text-align: center;
    font-family: 'arial', sans-serif;  
}

.welcome h2 {
    font-size: 2em;
    color: #0FACF1;
    font-weight: 400;
    line-height: 1.6;
    line-height: 1.2;
    margin-bottom: 30px;
}

.welcome p {
    font-size: 1em;
    font-style: italic;
    color: black;
    font-weight: 400;
    line-height: 1.6;
}

.sorriso {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -100px;
    display: grid;
    grid-column: 2fr 1fr;
}
.sorrisoA {
    margin:  100px;
    grid-column: 1/2;
}
.dente {
    margin-left: -30px;
    margin-bottom: 300px;
    border: solid 5px;
    border-radius: 6em;
    border-color: #098fc9;

}
.sorrisoLeia{
    
    font-size: 18px;
    padding: 10px;
    color: #333;
    margin-left: 530px;
    margin-top: -250px;
    margin-right: -100px;
    font-style: italic;
}


.sorrisoLeia button {
    margin-top: 30px;
    background-color: #0FACF1;
    border: none;
    padding: 10px 30px;
    color: #fff;
}

.sorrisoB {
    grid-column: 2;
    margin-top: 400px;
    margin-right: 100px;
}
.sorrisoLeia2{
    position: absolute;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: -250px;
    float: right;
    font-size: 15px;
    color: #888;
}

.sorrisoLeia2 h4 {
    color: #0FACF1;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
}

.book{
    background-color: #0FACF1;
    display: grid;
    justify-content: center;
    height: 250px;
    text-align: center;
}
.book-text{
    padding: 50px;
}
.book-text h1 {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 36px;
}
.book-text p{
    margin-bottom: 20px;
    color: #FFF;
    font-style: italic;
}
.book-text button {
        border: none;
        padding: 10px 50px;
        text-align: center;
        font-weight: bold;
}
.sobre {
    grid-row: 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.sobre-1 {
    display: grid;
    align-items: center;
    margin: 100px;
    font-size: 12pt;
}
.sobre-1 h3 {
    font-weight: bold;
    font-size: 15pt;
    padding: 30px;
    
}
.sobre-1 h2{
    margin-top: -80px;
    color: #0FACF1;
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -50px;
}

.sobre-1 p{
    font-size: 18px;
    padding: 30px;
    color: #222;
    font-style: italic;
}
.sobre-1 button {
    margin-top: -50px;
    background-color: #0FACF1;
    border: none;
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: verdana;
    margin:  0px 300px 0px 30px;
    padding: 10px 0px;
    
   
}
.sobre-2 { 
    display: grid;
}
#img-sobre {
    margin-top: 60px;
}
#dente2{
    margin-left: -100px;
    margin-top: -140px;
    border: solid 5px;
    border-radius: 6em;
    border-color:#0FACF1;
}

.time {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #0FACF1;
    

}

.time  h1 {
    color: #FFF;
    grid-column: 2/3;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.time p {
    color: #FFF;
    grid-column: 1/4;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

}

.doutor img{
    width: 300px;
    height: 350px;
    object-fit:cover;
    object-position: top;
    margin-top: 100px;
    
}

.doutor h3 {
    color: #FFF;
}
.doutor p {
    color: #555;
    text-align: justify;
}

#dr1{
    grid-column: 1/2;
    margin-left: 150px;
    
}

#dr2{
    grid-column: 2/3;
    margin-left: 75px;
    
}

#dr3{
    grid-column: 3/4;
}

footer{
    background-color:#098fc9;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 50px;
    color: #FFF;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    grid-row: 12;
}